<h1> 2. (Pret)procesiranje podataka </h1>

U ovoj bilježnici radimo na čišćenju podataka te definiciji novih značajki. Input je skup za treniranje dan na natjecanju (u formatu kojeg smo eksportirali u eksploratornoj analizi podataka), a output je skup spreman za transformacije kao što su enkodiranje i normalizacija.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
## DIO POTREBAN ZA BRISANJE UPOZORENJA (kako bismo sačuvali anonimnost)
import warnings
warnings.filterwarnings('ignore')

In [4]:
import os
filename_in = os.path.dirname(os.getcwd())+"\\data\\raw\\training_dataset.h5"## ukoliko datoteka sa skupom za učenje u novom formatu postoji u direktoriju, čitamo je ovako:
df = pd.read_hdf(filename_in, key = 'df')

In [5]:
### BRISANJE PARTIJA S VIŠE KLIJENATA
old_shape = df.shape
gb = df.groupby('OZNAKA_PARTIJE')['KLIJENT_ID'].nunique() 
# gb[df2['OZNAKA_PARTIJE']] vrati za svaku oznaku partije (svaki redak tablice) njenu vrijednost i usporedi je s 1
mask = gb[df['OZNAKA_PARTIJE']] == 1 
df = df[ mask.values ] # rezultat je skup gdje za svaku partiju ima jedan klijent
print('Postotak originalnog dataset-a:')
print(df.shape[0]/old_shape[0])

Postotak originalnog dataset-a:
0.9988667707530188

In [6]:
df.head()

,DATUM_IZVJESTAVANJA,KLIJENT_ID,OZNAKA_PARTIJE,DATUM_OTVARANJA,PLANIRANI_DATUM_ZATVARANJA,DATUM_ZATVARANJA,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID
0,2013-12-31,412140,7146814,2012-08-27,2018-04-30,NaT,629155.97,639373.81,641562.01,2,1420,TM0109,L,1.50,A,22,N
1,2013-12-31,772139,5521579,2010-06-11,2017-06-30,NaT,46000.00,28481.94,26887.19,1,1410,FL0801,A,9.70,B,38,N
2,2013-12-31,481985,7443823,2013-01-23,2018-02-28,NaT,44679.50,44908.40,45062.09,2,1550,FD0100,L,3.10,A,37,N
3,2013-12-31,139014,6511639,2011-09-16,2016-09-30,NaT,29959.15,19691.64,18285.89,2,1410,FL0801,A,7.95,B,49,N
4,2013-12-31,952566,6143123,2011-05-23,2014-05-31,NaT,100000.00,24797.93,15685.33,1,1410,FL0801,A,9.70,B,35,N

In [7]:
df.describe()

,KLIJENT_ID,OZNAKA_PARTIJE,UGOVORENI_IZNOS,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,VALUTA,VRSTA_KLIJENTA,VISINA_KAMATE,STAROST
count,5.187239e+06,5.187239e+06,5.187239e+06,4.766322e+06,5.187239e+06,5.187239e+06,5.187239e+06,5.135555e+06,5.187239e+06
mean,7.206729e+05,7.153406e+06,2.536863e+05,1.295566e+05,1.168920e+05,1.682218e+00,1.426424e+03,5.561989e+00,4.140727e+01
std,1.161272e+07,8.757979e+06,3.768251e+06,1.920337e+06,1.801749e+06,8.217323e-01,6.022722e+01,3.760708e+00,2.046405e+02
min,1.002000e+03,1.630070e+05,0.000000e+00,-5.981000e+01,-5.981000e+01,1.000000e+00,1.110000e+03,-4.000000e-03,-7.994000e+03
25%,3.708930e+05,4.276645e+06,2.953413e+04,6.878780e+03,3.977950e+02,1.000000e+00,1.410000e+03,2.350000e+00,3.500000e+01
50%,6.930060e+05,6.605459e+06,6.414009e+04,3.335964e+04,2.670734e+04,2.000000e+00,1.410000e+03,6.480000e+00,4.600000e+01
75%,1.032869e+06,9.143072e+06,1.150000e+05,8.274797e+04,7.624641e+04,2.000000e+00,1.410000e+03,8.740000e+00,5.700000e+01
max,9.991411e+09,1.136257e+08,6.055048e+08,6.105662e+08,6.105662e+08,5.000000e+00,1.610000e+03,8.080000e+01,9.080000e+02

In [8]:
df.isnull().sum()

DATUM_IZVJESTAVANJA                     0
KLIJENT_ID                              0
OZNAKA_PARTIJE                          0
DATUM_OTVARANJA                         0
PLANIRANI_DATUM_ZATVARANJA         420978
DATUM_ZATVARANJA                  3973234
UGOVORENI_IZNOS                         0
STANJE_NA_KRAJU_PRETH_KVARTALA     420917
STANJE_NA_KRAJU_KVARTALA                0
VALUTA                                  0
VRSTA_KLIJENTA                          0
PROIZVOD                                0
VRSTA_PROIZVODA                         0
VISINA_KAMATE                       51684
TIP_KAMATE                              0
STAROST                                 0
PRIJEVREMENI_RASKID                     0
dtype: int64

Varijablom 'STAROST' ćemo se kasnije pozabaviti pa trenutačno nelogične vrijednosti postavljamo na NaN, kako bismo ih kasnije mogli lakše identificirati i popuniti.

In [9]:
df['STAROST'] = np.where((df['STAROST']<0) | (df['STAROST']>120), np.nan, df['STAROST'])

In [10]:
## SORTIRANJE za lakši pregled
df.sort_values(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA', 'DATUM_IZVJESTAVANJA'], inplace = True)

Odlučili smo da nećemo koristiti podatke o stanju kvartala. Prvotna ideja je bila probati koristiti metode takozvanog privilegiranog učenja, no nije nam ostalo dovoljno vremena.

In [11]:
del_col_list = ['STANJE_NA_KRAJU_PRETH_KVARTALA', 'STANJE_NA_KRAJU_KVARTALA']
df.drop(del_col_list, axis = 1, inplace = True)

U sljedećoj ćeliji se popunjavaju nedostajuće vrijednosti. Neke vrijednosti se nalaze tek u kasnijim izvještajima pa ćemo ih dobiti pomoću groupby objekta i funkcije 'transform'.

Ponegdje je ugovoreni iznos ugovora jednak 0 samo u prvom izvještaju pa također mijenjamo tu varijablu. 

Ugovore koji su se produljivali ovdje smatramo kao jedan ugovor.

In [12]:
grouped = df.groupby(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA'])
grouped_all = df.groupby(['KLIJENT_ID', 'OZNAKA_PARTIJE'])
def impute_backwards(series):
    return series.fillna(method = 'bfill')

def impute_mean(series):
    return series.fillna(series.mean())

def impute_max(group):
    return group.max()

## po ugovoru
df['VISINA_KAMATE'] = grouped['VISINA_KAMATE'].transform(impute_mean)
df['PLANIRANI_DATUM_ZATVARANJA']  = grouped['PLANIRANI_DATUM_ZATVARANJA'].transform('last')
df['UGOVORENI_IZNOS'] = grouped['UGOVORENI_IZNOS'].transform('last') #ili max
#df['DATUM_ZATVARANJA'] = grouped['DATUM_ZATVARANJA'].transform('last')
df['DATUM_ZATVARANJA'] = grouped_all['DATUM_ZATVARANJA'].transform('last')
df['PRIJEVREMENI_RASKID'] = grouped['PRIJEVREMENI_RASKID'].transform('last')
# popunjavanje stanja na kraju prethodnog kvartala 

#df['NOVO_STANJE_NKPH'] = np.where(df['STANJE_NA_KRAJU_KVARTALA'].isnull(), df['UGOVORENI_IZNOS'], df['STANJE_NA_KRAJU_KVARTALA'])

Varijabla 'DRUKCIJI_CILJ' je privremena i služi nam samo za uvid u ugovore s produljenjima. Naime, ako promatramo ciljnu značajku 'DRUKCIJI_CILJ', sva produljenja ugovora označimo kao prijevremeno raskinuta, ne samo posljednje produljenje.

In [13]:
df['DRUKCIJI_CILJ'] = grouped_all['PRIJEVREMENI_RASKID'].transform('last')

In [14]:
df.groupby(['PRIJEVREMENI_RASKID']).size() / (df.shape[0])

PRIJEVREMENI_RASKID
N    0.81549
Y    0.18451
dtype: float64

In [15]:
df.groupby(['DRUKCIJI_CILJ']).size() / (df.shape[0])

DRUKCIJI_CILJ
N    0.767401
Y    0.232599
dtype: float64

In [17]:
## postotak ostalih missinig values
df.isnull().sum()/df.shape[0]*100

DATUM_IZVJESTAVANJA            0.000000
KLIJENT_ID                     0.000000
OZNAKA_PARTIJE                 0.000000
DATUM_OTVARANJA                0.000000
PLANIRANI_DATUM_ZATVARANJA     0.683832
DATUM_ZATVARANJA              25.187754
UGOVORENI_IZNOS                0.000000
VALUTA                         0.000000
VRSTA_KLIJENTA                 0.000000
PROIZVOD                       0.000000
VRSTA_PROIZVODA                0.000000
VISINA_KAMATE                  0.089990
TIP_KAMATE                     0.000000
STAROST                        0.073912
PRIJEVREMENI_RASKID            0.000000
DRUKCIJI_CILJ                  0.000000
dtype: float64

Brišemo ugovore koji još nisu zatvoreni, a i one kojima je nepoznata značajka 'PLANIRANI_DATUM_ZATVARANJA' jer je planiramo koristiti u definiciji nove značajke.

In [20]:
df.dropna(subset = ['DATUM_ZATVARANJA'], inplace = True)
df.dropna(subset = ['PLANIRANI_DATUM_ZATVARANJA'], inplace = True)

In [22]:
### NAPOMENA S FAQ-a
df['PRIJEVREMENI_RASKID'] = np.where(df['DATUM_ZATVARANJA']>=(df['PLANIRANI_DATUM_ZATVARANJA']- np.timedelta64(10, 'D')), 
                                     'N', df['PRIJEVREMENI_RASKID'])

Nakon potrebnih transformacija možemo reducirati skup za treniranje na jedan redak po ugovoru. Ugovor sa svakim svojim datumom otvaranja, id-jem klijenta i oznakom partije smatramo posebno. 

Ugovor ne smatramo raskinutim do njegovog zadnjeg produljenja.

In [ ]:
df.drop_duplicates(subset = ['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA'], inplace = True, keep = 'last')

In [24]:
df.groupby(['PRIJEVREMENI_RASKID']).size() / (df.shape[0])

PRIJEVREMENI_RASKID
N    0.82208
Y    0.17792
dtype: float64

In [25]:
df.groupby(['DRUKCIJI_CILJ']).size() / (df.shape[0])

DRUKCIJI_CILJ
N    0.664475
Y    0.335525
dtype: float64

In [26]:
df.isnull().sum()

DATUM_IZVJESTAVANJA              0
KLIJENT_ID                       0
OZNAKA_PARTIJE                   0
DATUM_OTVARANJA                  0
PLANIRANI_DATUM_ZATVARANJA       0
DATUM_ZATVARANJA                 0
UGOVORENI_IZNOS                  0
VALUTA                           0
VRSTA_KLIJENTA                   0
PROIZVOD                         0
VRSTA_PROIZVODA                  0
VISINA_KAMATE                 1266
TIP_KAMATE                       0
STAROST                        278
PRIJEVREMENI_RASKID              0
DRUKCIJI_CILJ                    0
dtype: int64

Definiramo novu značajku - varijablu 'PRODULJENJA' - koja nam kazuje koliko puta je ugovor produžen (prvi put otvoren ugovor ima 0 produljenja).

In [27]:
grouped = df.groupby(['KLIJENT_ID', 'OZNAKA_PARTIJE'])

def produljenja(series):
    n = series.count()
    return range(0,n)

df['PRODULJENJA'] = grouped['DATUM_OTVARANJA'].transform(produljenja)

In [29]:
# KOLIKO UGOVORA JE PRODULJENO n PUTA?
df.groupby('PRODULJENJA').size()

PRODULJENJA
0     473809
1      57126
2      34811
3      24216
4      17257
5      12858
6       9648
7       7276
8       5603
9       4387
10      3490
11      2761
12      2132
13      1680
14      1321
15      1044
16       873
17       725
18       598
19       495
20       401
21       310
22       222
23       177
24       122
25        83
26        45
27        25
28         5
dtype: int64

In [30]:
# distribucija raskida
df.groupby(['PRIJEVREMENI_RASKID']).size()/(df.shape[0])

PRIJEVREMENI_RASKID
N    0.82208
Y    0.17792
dtype: float64

Popunjavamo zadnje nedostajuće vrijednosti; varijable 'STAROST' i 'VISINA_KAMATE'.

In [31]:
grouped_kamate= df.groupby(['VRSTA_KLIJENTA', 'VRSTA_PROIZVODA', 'PROIZVOD'])
grouped_klijenti = df.groupby(['VRSTA_KLIJENTA', 'VRSTA_PROIZVODA'])

def impute_mean(series):
    return series.fillna(series.mean())

df['VISINA_KAMATE'] = grouped_kamate.transform(impute_mean) 
df['STAROST'] = grouped_klijenti.transform(impute_mean)

In [32]:
df.isnull().sum()

DATUM_IZVJESTAVANJA           0
KLIJENT_ID                    0
OZNAKA_PARTIJE                0
DATUM_OTVARANJA               0
PLANIRANI_DATUM_ZATVARANJA    0
DATUM_ZATVARANJA              0
UGOVORENI_IZNOS               0
VALUTA                        0
VRSTA_KLIJENTA                0
PROIZVOD                      0
VRSTA_PROIZVODA               0
VISINA_KAMATE                 0
TIP_KAMATE                    0
STAROST                       0
PRIJEVREMENI_RASKID           0
DRUKCIJI_CILJ                 0
PRODULJENJA                   0
dtype: int64

Definiramo nove značajke; godinu otvaranja i planiranu duljinu trajanja ugovora.

In [39]:
df['GODINA_OTVARANJA'] = df['DATUM_OTVARANJA'].dt.year
df['PLANIRANA_DULJINA_UGOVORA'] = (df['PLANIRANI_DATUM_ZATVARANJA']-df['DATUM_OTVARANJA']).dt.days

In [38]:
df['DATUM_OTVARANJA_TIMESTAMP'] = (df['DATUM_OTVARANJA'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')
df['PLANIRANI_DATUM_ZATVARANJA_TIMESTAMP'] = (df['PLANIRANI_DATUM_ZATVARANJA'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

In [40]:
df.columns

Index(['DATUM_IZVJESTAVANJA', 'KLIJENT_ID', 'OZNAKA_PARTIJE',
       'DATUM_OTVARANJA', 'PLANIRANI_DATUM_ZATVARANJA', 'DATUM_ZATVARANJA',
       'UGOVORENI_IZNOS', 'VALUTA', 'VRSTA_KLIJENTA', 'PROIZVOD',
       'VRSTA_PROIZVODA', 'VISINA_KAMATE', 'TIP_KAMATE', 'STAROST',
       'PRIJEVREMENI_RASKID', 'DRUKCIJI_CILJ', 'PRODULJENJA',
       'GODINA_OTVARANJA', 'PLANIRANA_DULJINA_UGOVORA',
       'DATUM_OTVARANJA_TIMESTAMP', 'PLANIRANI_DATUM_ZATVARANJA_TIMESTAMP'],
      dtype='object')

Napokon, brišemo varijable koje nam više ne trebaju te eksportiramo podatke u novu datoteku.

In [41]:
del_col_list = ['DATUM_IZVJESTAVANJA', 'DATUM_OTVARANJA', 'PLANIRANI_DATUM_ZATVARANJA', 'DATUM_ZATVARANJA']
df.drop(del_col_list, axis = 1, inplace = True)

In [42]:
df.shape

(663500, 17)

In [43]:
df.groupby(['PRIJEVREMENI_RASKID']).size()/(df.shape[0])

PRIJEVREMENI_RASKID
N    0.82208
Y    0.17792
dtype: float64

In [45]:
df.drop('DRUKCIJI_CILJ', axis = 1, inplace = True)

In [46]:
import os
filename_out = os.path.dirname(os.getcwd())+"\\data\\raw\\training_dataset_processed.h5"
df.to_hdf(filename_out, key='df')