In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [4]:
# nakon što stavimo datoteke na Git uvijek čitati u ovomo obliku! (štedi vrijeme)
import time
start = time.time()
# df = pd.read_hdf('./data/raw/training_dataset.h5', 'df')
df = pd.read_hdf('preprocessing_out_druga_verzija.h5', 'df')
end = time.time()
print(end - start)

# nakon što napravimo promjene kako treba, exportat ću ih u novu datoteku pomoću naredbe
# df.to_hdf('training_dataset2.h5', key='df')

39.57145953178406

In [5]:
df.shape

(3879094, 17)

In [6]:
duplikati = df.drop_duplicates(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA'])

In [7]:
duplikati.shape
raskidi = duplikati[duplikati['PRIJEVREMENI_RASKID']=='Y']
neraskidi = duplikati[duplikati['PRIJEVREMENI_RASKID']=='N']
print(raskidi.shape, neraskidi.shape)

(6240, 17) (682199, 17)

In [8]:
df.sort_values(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA', 'DATUM_IZVJESTAVANJA'], inplace = True)
grouped = df.groupby(['KLIJENT_ID', 'OZNAKA_PARTIJE'])
start = time.time()
df['RASKID'] = grouped['PRIJEVREMENI_RASKID'].transform('last')
end = time.time()
print(end-start)

0.9145529270172119

In [9]:
duplikati = df.drop_duplicates(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA'])
raskidi = duplikati[duplikati['RASKID']=='Y']
neraskidi = duplikati[duplikati['RASKID']=='N']
print(raskidi.shape, neraskidi.shape)

(217724, 18) (470715, 18)

In [10]:
print(raskidi.shape[0]/(raskidi.shape[0]+neraskidi.shape[0]))

0.3162575042959507

In [9]:
df['PRIJEVREMENI_RASKID'] = df['RASKID']
del df['RASKID']

In [10]:
duplikati = df.drop_duplicates(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA'])

In [11]:
df.to_hdf('final_output_opet.h5', key='df')

In [12]:
duplikati.to_hdf('output_bez_kvartala_opet.h5', key='df')

In [13]:
raskidi = duplikati[duplikati['PRIJEVREMENI_RASKID']=='Y']
neraskidi = duplikati[duplikati['PRIJEVREMENI_RASKID']=='N']
print(raskidi.shape, neraskidi.shape)

(229560, 17) (458879, 17)

In [11]:
duplikati.shape

(688439, 18)

<h1> Odavde čitati </h1>

In [52]:
df = pd.read_hdf('output_bez_kvartala_druga.h5', 'df')

<h1> Makroekonomski indikatori </h1

In [53]:
# Čitam tablicu ekonomskih indikatora
# econ = pd.read_excel('./data/external/ekonomski_indikatori.xlsx')
econ = pd.read_excel('ekonomski_indikatori.xlsx')

econ.dropna(thresh=int(econ.shape[1] * .9), axis = 0, inplace = True)
column_names = econ.columns
# Drop unwanted columns
econ.drop(column_names[0], inplace=True, axis=1)

econ.rename(columns={'Unnamed: 2': '2000', 'Unnamed: 3': '2001', 
                   'Unnamed: 4': '2002', 'Unnamed: 5': '2003', 
                   'Unnamed: 6': '2004', 'Unnamed: 7': '2005',
                  'Unnamed: 8': '2006', 'Unnamed: 9': '2007', 
                  'Unnamed: 10': '2008', 'Unnamed: 11': '2009',
                  'Unnamed: 12': '2010', 'Unnamed: 13': '2011',
                  'Unnamed: 14': '2012', 'Unnamed: 15': '2013',
                  'Unnamed: 16': '2014', 'Unnamed: 17': '2015',
                  'Unnamed: 18': '2016', 'Unnamed: 19': '2017',
                  'Unnamed: 20': '2018'}, inplace=True)

econ.drop([4], axis = 0, inplace = True)

econ2 = econ.transpose(copy = True)
new_column_names = econ2.iloc[0,:]
econ2.columns = new_column_names

econ2.reset_index()

Unnamed: 1,index,Area (square km),Population (million) a,"GDP (million HRK, current prices) b","GDP (million EUR, current prices)",GDP per capita (in EUR),"GDP - year-on-year rate of growth (in %, constant prices)",Average CPI year-on-year inflation rate,Current account balance (million EUR) c,Current account balance (as of % GDP),...,"Gross international reserves (in terms of months of imports of goods and services, end of year)",Exchange rate on 31 December (HRK : 1 EUR),Exchange rate on 31 December (HRK : 1 USD),Average exchange rate (HRK : 1 EUR),Average exchange rate (HRK : 1 USD),Consolidated general government net lending (+)/borrowing (-) (million HRK) e,Consolidated general government net lending (+)/borrowing (-) (as % of GDP) e,General government debt (as % of GDP) e,"Unemployment rate (ILO, persons above 15 years of age) f","Employment rate (ILO, persons above 15 years of age) f"
0,Unnamed: 1,Area (square km),Population (million) a,"GDP (million HRK, current prices) b","GDP (million EUR, current prices)",GDP per capita (in EUR),"GDP - year-on-year rate of growth (in %, const...",Average CPI year-on-year inflation rate,Current account balance (million EUR) c,Current account balance (as of % GDP),...,Gross international reserves (in terms of mont...,Exchange rate on 31 December (HRK : 1 EUR),Exchange rate on 31 December (HRK : 1 USD),Average exchange rate (HRK : 1 EUR),Average exchange rate (HRK : 1 USD),Consolidated general government net lending (+...,Consolidated general government net lending (+...,General government debt (as % of GDP) e,"Unemployment rate (ILO, persons above 15 years...","Employment rate (ILO, persons above 15 years o..."
1,2000,56594,4.426,180241,23610.7,5334.56,3.7675,4.6,-516.727,-2.18852,...,4.85331,7.59833,8.15534,7.63385,8.28737,....,....,35.4986,16.05,42.6
2,2001,56594,4.30549,194271,26003.3,6039.56,3.45241,3.8,-758.857,-2.91831,...,5.81721,7.37003,8.35604,7.47101,8.33915,....,....,36.4623,15.8,41.8
3,2002,56594,4.30538,211500,28554.2,6632.21,5.25336,1.7,-2016.88,-7.06332,...,5.20306,7.44229,7.14574,7.40698,7.87249,-7365.19,-3.48235,36.6016,14.8,43.3
4,2003,56594,4.30572,232444,30729.3,7136.85,5.58119,1.8,-1811.73,-5.89579,...,5.52068,7.64691,6.11851,7.56425,6.70445,-10863.8,-4.67371,38.0835,14.25,43.1
5,2004,56594,4.31086,250565,33427.9,7754.34,3.91456,2.1,-1355.35,-4.05455,...,5.0642,7.67123,5.63688,7.49568,6.03122,-13038.5,-5.20365,40.2681,13.8,43.5
6,2005,56594,4.31249,269779,36456.5,8453.7,4.10956,3.3,-1892.06,-5.18991,...,5.37051,7.37563,6.23363,7.40005,5.94996,-10413.5,-3.86001,41.1553,12.7,43.3
7,2006,56594,4.31353,294150,40168.8,9312.29,4.86782,3.2,-2612.7,-6.5043,...,5.60497,7.34508,5.5784,7.32285,5.83917,-9971.92,-3.39008,38.6436,11.2,43.6
8,2007,56594,4.31197,322464,43956.2,10194,5.28365,2.9,-3138.26,-7.13952,...,5.48831,7.32513,4.98546,7.33602,5.36599,-7880.62,-2.44388,37.2272,9.9,47.6
9,2008,56594,4.3098,347750,48143.6,11170.7,2.03646,6.1,-4226.91,-8.7798,...,4.88824,7.32442,5.1555,7.22318,4.93442,-9604.64,-2.76194,38.9616,8.5,48.6
10,2009,56594,4.30285,331367,45148.1,10492.6,-7.29143,2.4,-2299.25,-5.09269,...,7.22059,7.3062,5.0893,7.33955,5.28037,-19844,-5.98853,48.2533,9.2,48.2
11,2010,56594,4.28986,329143,45173.3,10530.3,-1.47292,1.1,-482.271,-1.0676,...,7.45574,7.38517,5.56825,7.28623,5.50002,-20654.6,-6.27526,57.3055,11.6,46.5
12,2011,56594,4.28,333457,44854.4,10480,-0.34019,2.3,-313.309,-0.698502,...,7.33468,7.53042,5.81994,7.4342,5.34351,-26219.8,-7.86303,63.8248,13.7,44.8
13,2012,56594,4.268,330825,44008.2,10311.2,-2.30064,3.4,-50.2742,-0.114238,...,7.43854,7.54562,5.72679,7.51734,5.85086,-17419.6,-5.2655,69.4446,15.9,43.2
14,2013,56594,4.256,331785,43808.4,10293.3,-0.491749,2.2,414.468,0.946094,...,8.3271,7.63764,5.549,7.57355,5.70588,-17516.6,-5.2795,80.3602,17.275,42.075
15,2014,56594,4.238,331570,43456,10253.9,-0.0875134,-0.2,857.903,1.97419,...,8.07501,7.66147,6.30211,7.63001,5.74932,-17033.4,-5.1372,83.9551,17.325,43.3
16,2015,56594,4.204,339616,44630,10616.1,2.40059,-0.5,2018.62,4.52301,...,8.04372,7.63505,6.9918,7.6096,6.86226,-11686.8,-3.44118,83.6845,16.2,44.2
17,2016,56594,4.174,351349,46663.7,11179.6,3.53613,-1.1,1206.51,2.58553,...,7.55627,7.55779,7.16854,7.52938,6.80372,-3274.8,-0.932065,80.1886,13.1171,44.5847
18,2017,56594,4.125,365643,49013.2,11882,2.92136,1.1,1983.59,4.04705,...,7.83157,7.51365,6.26973,7.4601,6.6224,3157.5,0.863547,77.4848,11.2196,45.8246
19,2018,56594,4.089,381799,51496.3,12593.9,2.6,1.5,-,-,...,-,7.41758,6.46919,7.41411,6.27841,-,-,-,-,-

In [54]:
indikatori = econ2.copy()
indikatori = indikatori.iloc[1:, :]

indikatori['GODINE'] = range(2000,2019)

drop_col = [0,1,2, 3,7,11, 13, 14, 15, 16, 17, 18, 24]
indikatori.columns[drop_col].values
indikatori.drop(indikatori.columns[drop_col].values, axis = 1, inplace = True)

In [55]:
df['GODINA_OTVARANJA'] = df['DATUM_OTVARANJA'].dt.year

In [56]:
import time
start = time.time()
df_merged = pd.merge(df, indikatori, left_on=['GODINA_OTVARANJA'], right_on = ['GODINE'], how = 'left')
end = time.time()
print(end-start)
df_merged.rename(columns={'GDP per capita (in EUR)  ': 'ind1-poc', 'GDP - year-on-year rate of growth (in %, constant prices) ': 'ind2-poc', 
                   'Average CPI year-on-year inflation rate ': 'ind3-poc', 'Current account balance (as of % GDP) ': 'ind4-poc', 
                   'Exports of goods and services (as of % GDP) ': 'ind5-poc', 'Imports of goods and services (as of % GDP) ': 'ind6-poc',
                  'External debt (as of % GDP) ': 'ind7-poc', 'Average exchange rate (HRK : 1 EUR) ': 'ind8-poc', 'Average exchange rate (HRK : 1 USD) ': 'ind9-poc',
                  'Consolidated general government net lending (+)/borrowing (-) (as % of GDP) e' : 'ind10-poc', 'General government debt (as % of GDP) e': 'ind11-poc',
                  'Employment rate (ILO, persons above 15 years of age) f': 'ind12-poc'}, inplace=True)

del df_merged['Consolidated general government net lending (+)/borrowing (-) (million HRK) e']
del df_merged['GODINE']

4.830636739730835

In [57]:
df['PLANIRANA_DULJINA_KREDITA'] =  (df['PLANIRANI_DATUM_ZATVARANJA']-df['DATUM_OTVARANJA']).dt.days

In [58]:
df_merged['PLANIRANA_DULJINA_KREDITA'] =  (df_merged['PLANIRANI_DATUM_ZATVARANJA']-df_merged['DATUM_OTVARANJA']).dt.days

In [59]:
df_merged.shape

(688439, 31)

In [60]:
mydateparser = lambda c: pd.to_datetime(c, format='%d.%m.%Y', errors='coerce')
test = pd.read_excel('eval_dataset_nan.xlsx')#parse_dates=['DATUM_OTVARANJA', 'PLANIRANI_DATUM_ZATVARANJA'], date_parser=mydateparser
test['DATUM_OTVARANJA'] = pd.to_datetime(test['DATUM_OTVARANJA'], format='%d.%m.%Y')

In [61]:
del test['instance_id']
del test['OZNAKA_PARTIJE']
del df_merged['OZNAKA_PARTIJE']

In [62]:
test['GODINA_OTVARANJA'] = test['DATUM_OTVARANJA'].dt.year

In [63]:
test['PLANIRANA_DULJINA_KREDITA'] = (test['PLANIRANI_DATUM_ZATVARANJA']-test['DATUM_OTVARANJA']).dt.days

In [64]:
del test['DATUM_OTVARANJA']

In [65]:
del test['PLANIRANI_DATUM_ZATVARANJA']
del df_merged['DATUM_ZATVARANJA']

In [66]:
test_merged = pd.merge(test,indikatori,left_on=['GODINA_OTVARANJA'], right_on=['GODINE'], how='left')
test_merged.rename(columns={'GDP per capita (in EUR)  ': 'ind1-poc', 'GDP - year-on-year rate of growth (in %, constant prices) ': 'ind2-poc', 
                   'Average CPI year-on-year inflation rate ': 'ind3-poc', 'Current account balance (as of % GDP) ': 'ind4-poc', 
                   'Exports of goods and services (as of % GDP) ': 'ind5-poc', 'Imports of goods and services (as of % GDP) ': 'ind6-poc',
                  'External debt (as of % GDP) ': 'ind7-poc', 'Average exchange rate (HRK : 1 EUR) ': 'ind8-poc', 'Average exchange rate (HRK : 1 USD) ': 'ind9-poc',
                  'Consolidated general government net lending (+)/borrowing (-) (as % of GDP) e' : 'ind10-poc', 'General government debt (as % of GDP) e': 'ind11-poc',
                  'Employment rate (ILO, persons above 15 years of age) f': 'ind12-poc'}, inplace=True)

In [67]:
del test_merged['Consolidated general government net lending (+)/borrowing (-) (million HRK) e']

In [68]:
test_merged

,KLIJENT_ID,UGOVORENI_IZNOS,VALUTA,VRSTA_KLIJENTA,PROIZVOD,VRSTA_PROIZVODA,VISINA_KAMATE,TIP_KAMATE,STAROST,PRIJEVREMENI_RASKID,...,ind4-poc,ind5-poc,ind6-poc,ind7-poc,ind8-poc,ind9-poc,ind10-poc,ind11-poc,ind12-poc,GODINE
0,1049000,273555.01,2,1410,TM0109,L,3.60,A,64,NaN,...,-0.114238,41.6252,41.1878,102.929,7.51734,5.85086,-5.2655,69.4446,43.2,2012.0
1,481302,50970.78,2,1410,TM0109,L,0.20,A,56,NaN,...,2.58553,48.8269,45.9917,89.2949,7.52938,6.80372,-0.932065,80.1886,44.5847,2016.0
2,838192,8969.36,2,1410,TM0109,L,0.02,A,52,NaN,...,-,-,-,75.0706,7.41411,6.27841,-,-,-,2018.0
3,174575,16142.48,2,1410,TM0109,L,2.30,C,76,NaN,...,-0.114238,41.6252,41.1878,102.929,7.51734,5.85086,-5.2655,69.4446,43.2,2012.0
4,14884,45315.31,2,1410,TM0109,L,3.30,C,53,NaN,...,-0.698502,40.415,40.8333,103.44,7.4342,5.34351,-7.86303,63.8248,44.8,2011.0
5,1348702,40000.00,1,1410,TM0109,L,1.50,A,35,NaN,...,-,-,-,75.0706,7.41411,6.27841,-,-,-,2018.0
6,764915,119043.94,2,1410,TM0109,L,2.00,A,50,NaN,...,0.946094,42.8402,42.4593,104.554,7.57355,5.70588,-5.2795,80.3602,42.075,2013.0
7,367476,103650.71,2,1410,TM0109,L,5.15,A,35,NaN,...,-1.0676,37.6476,37.982,103.841,7.28623,5.50002,-6.27526,57.3055,46.5,2010.0
8,234350,185000.00,1,1550,TM0109,L,1.30,A,46,NaN,...,4.04705,51.27,49.1009,81.7513,7.4601,6.6224,0.863547,77.4848,45.8246,2017.0
9,888283,54123.73,1,1410,TM0109,L,0.20,A,38,NaN,...,-,-,-,75.0706,7.41411,6.27841,-,-,-,2018.0
10,1183870,38190.02,2,1410,TM0109,L,1.20,A,30,NaN,...,4.52301,48.1137,45.8171,101.688,7.6096,6.86226,-3.44118,83.6845,44.2,2015.0
11,1307618,225970.92,2,1410,TM0109,L,2.65,A,48,NaN,...,0.946094,42.8402,42.4593,104.554,7.57355,5.70588,-5.2795,80.3602,42.075,2013.0
12,358622,157884.56,3,1410,TM0109,L,2.60,C,55,NaN,...,-4.05455,39.7148,45.6236,68.6055,7.49568,6.03122,-5.20365,40.2681,43.5,2004.0
13,1182314,96146.57,2,1410,TM0109,L,3.30,A,61,NaN,...,-0.114238,41.6252,41.1878,102.929,7.51734,5.85086,-5.2655,69.4446,43.2,2012.0
14,385859,25506.30,2,1410,TM0109,L,0.02,A,61,NaN,...,-,-,-,75.0706,7.41411,6.27841,-,-,-,2018.0
15,112284,53692.27,2,1410,TM0109,L,0.10,A,73,NaN,...,2.58553,48.8269,45.9917,89.2949,7.52938,6.80372,-0.932065,80.1886,44.5847,2016.0
16,52181,229750.23,2,1410,TM0109,L,1.80,A,56,NaN,...,4.52301,48.1137,45.8171,101.688,7.6096,6.86226,-3.44118,83.6845,44.2,2015.0
17,330879,76562.61,2,1410,TM0109,L,0.60,A,65,NaN,...,4.52301,48.1137,45.8171,101.688,7.6096,6.86226,-3.44118,83.6845,44.2,2015.0
18,533253,33717.27,2,1410,TM0109,L,2.70,C,41,NaN,...,-8.7798,38.4784,46.5081,84.3103,7.22318,4.93442,-2.76194,38.9616,48.6,2008.0
19,781498,4005.41,1,1410,TM0109,L,0.70,A,32,NaN,...,2.58553,48.8269,45.9917,89.2949,7.52938,6.80372,-0.932065,80.1886,44.5847,2016.0
20,511528,179973.36,2,1550,TM0109,L,0.60,A,81,NaN,...,2.58553,48.8269,45.9917,89.2949,7.52938,6.80372,-0.932065,80.1886,44.5847,2016.0
21,496265,10223.43,1,1410,TM0109,L,0.05,A,56,NaN,...,-,-,-,75.0706,7.41411,6.27841,-,-,-,2018.0
22,276680,208973.35,2,1410,TM0109,L,3.30,A,66,NaN,...,-0.114238,41.6252,41.1878,102.929,7.51734,5.85086,-5.2655,69.4446,43.2,2012.0
23,460689,25998.81,2,1410,TM0109,L,2.30,A,28,NaN,...,-0.698502,40.415,40.8333,103.44,7.4342,5.34351,-7.86303,63.8248,44.8,2011.0
24,626139,49283.10,4,1410,TM0109,L,1.10,A,52,NaN,...,0.946094,42.8402,42.4593,104.554,7.57355,5.70588,-5.2795,80.3602,42.075,2013.0
25,328460,19235.74,1,1410,TM0109,L,3.80,A,35,NaN,...,-0.698502,40.415,40.8333,103.44,7.4342,5.34351,-7.86303,63.8248,44.8,2011.0
26,807541,72526.04,2,1410,TM0109,L,3.10,C,66,NaN,...,-6.5043,39.771,46.505,74.0001,7.32285,5.83917,-3.39008,38.6436,43.6,2006.0
27,818429,545120.95,2,1550,TM0109,L,1.70,A,39,NaN,...,4.52301,48.1137,45.8171,101.688,7.6096,6.86226,-3.44118,83.6845,44.2,2015.0
28,1357124,5929.21,3,1410,TM0109,L,1.90,A,75,NaN,...,-0.114238,41.6252,41.1878,102.929,7.51734,5.85086,-5.2655,69.4446,43.2,2012.0
29,1221746,30000.00,1,1410,TM0109,L,2.70,A,85,NaN,...,0.946094,42.8402,42.4593,104.554,7.57355,5.70588,-5.2795,80.3602,42.075,2013.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84873,180897,21000000.00,1,1120,FL0201,A,0.00,B,20,NaN,...,-0.698502,40.415,40.8333,103.44,7.4342,5.34351,-7.86303,63.8248,44.8,2011.0
84874,412140,1200000.00,1,1420,FL0201,A,0.00,B,22,NaN,...,-1.0676,37.6476,37.982,103.841,7.28623,5.50002,-6.27526,57.3055,46.5,2010.0
84875,176468,1200000.00,1,1120,FL0201,A,3.80,A,11,NaN,...,-1.0676,37.6476,37.982,103.841,7.28623,5.50002,-6.27526,57.3055,46.5,2010.0
84876,881351,3300000.00,1,1120,FL0201,A,0.00,B,5,NaN,...,-0.698502,40.415,40.8333,103.44,7.4342,5.34351,-7.86303,63.8248,44.8,2011.0
84877,22613,438000.00,1,1420,FL0201,A,0.00,B,26,NaN,...,-1.0676,37.6476,37.982,103.841,7.28623,5.50002,-6.27526,57.3055,46.5,2010.0
84878,180897,21000000.00,1,1120,FL0201,A,0.00,B,26,NaN,...,-0.114238,41.6252,41.1878,102.929,7.51734,5.85086,-5.2655,69.4446,43.2,2012.0
84879,22613,292000.00,1,1420,FL0201,A,3.80,A,26,NaN,...,-1.0676,37.6476,37.982,103.841,7.28623,5.50002,-6.27526,57.3055,46.5,2010.0
84880,115514,240000.00,1,1420,FL0201,A,3.80,A,18,NaN,...,-1.0676,37.6476,37.982,103.841,7.28623,5.50002,-6.27526,57.3055,46.5,2010.0
84881,55834,2100000.00,1,1120,FL0201,A,0.00,B,32,NaN,...,-1.0676,37.6476,37.982,103.841,7.28623,5.50002,-6.27526,57.3055,46.5,2010.0
84882,94341,3000000.00,1,1120,FL0201,A,0.00,B,25,NaN,...,-0.114238,41.6252,41.1878,102.929,7.51734,5.85086,-5.2655,69.4446,43.2,2012.0
84883,16968,2999999.99,2,1120,FL0201,A,5.49,C,38,NaN,...,0.946094,42.8402,42.4593,104.554,7.57355,5.70588,-5.2795,80.3602,42.075,2013.0
84884,64340,600000.00,1,1420,FL0201,A,0.00,B,21,NaN,...,-0.698502,40.415,40.8333,103.44,7.4342,5.34351,-7.86303,63.8248,44.8,2011.0
84885,832479,525909.86,2,1430,FI0500,A,9.00,C,9,NaN,...,-0.698502,40.415,40.8333,103.44,7.4342,5.34351,-7.86303,63.8248,44.8,2011.0
84886,234857,6039960.81,2,1420,FI0500,A,0.00,B,26,NaN,...,-0.698502,40.415,40.8333,103.44,7.4342,5.34351,-7.86303,63.8248,44.8,2011.0
84887,1220902,442904.82,2,1430,FI0500,A,9.95,C,2,NaN,...,-0.698502,40.415,40.8333,103.44,7.4342,5.34351,-7.86303,63.8248,44.8,2011.0
84888,13989,20137104.90,2,1120,FI0500,A,0.00,B,31,NaN,...,-4.05455,39.7148,45.6236,68.6055,7.49568,6.03122,-5.20365,40.2681,43.5,2004.0
84889,979572,2001091.31,2,1420,FI0500,A,4.00,A,9,NaN,...,4.52301,48.1137,45.8171,101.688,7.6096,6.86226,-3.44118,83.6845,44.2,2015.0
84890,30808,4300561.90,4,1420,FI0500,A,0.00,B,22,NaN,...,-6.5043,39.771,46.505,74.0001,7.32285,5.83917,-3.39008,38.6436,43.6,2006.0
84891,562034,242000.00,1,1430,FI0500,A,14.00,C,23,NaN,...,-6.5043,39.771,46.505,74.0001,7.32285,5.83917,-3.39008,38.6436,43.6,2006.0
84892,501816,519544.55,2,1120,FI0500,A,0.00,B,9,NaN,...,-6.5043,39.771,46.505,74.0001,7.32285,5.83917,-3.39008,38.6436,43.6,2006.0
84893,83037,302981.04,2,1420,FI0500,A,2.55,A,26,NaN,...,1.97419,45.2802,43.388,106.812,7.63001,5.74932,-5.1372,83.9551,43.3,2014.0
84894,385601,23827281.61,2,1110,FI0500,A,2.10,A,25,NaN,...,4.52301,48.1137,45.8171,101.688,7.6096,6.86226,-3.44118,83.6845,44.2,2015.0
84895,311677,11493146.40,1,1330,TM0102,L,0.90,A,22,NaN,...,2.58553,48.8269,45.9917,89.2949,7.52938,6.80372,-0.932065,80.1886,44.5847,2016.0
84896,6868,4000000.00,1,1330,TM0102,L,0.10,A,24,NaN,...,4.52301,48.1137,45.8171,101.688,7.6096,6.86226,-3.44118,83.6845,44.2,2015.0
84897,6868,20000000.00,1,1330,TM0102,L,0.00,A,27,NaN,...,-,-,-,75.0706,7.41411,6.27841,-,-,-,2018.0
84898,936295,1200532.62,1,1330,TM0102,L,0.50,A,24,NaN,...,4.52301,48.1137,45.8171,101.688,7.6096,6.86226,-3.44118,83.6845,44.2,2015.0
84899,814286,3763099.00,2,1330,TM0102,L,5.00,A,20,NaN,...,-1.0676,37.6476,37.982,103.841,7.28623,5.50002,-6.27526,57.3055,46.5,2010.0
84900,85848,10070732.37,1,1330,TM0102,L,0.65,A,19,NaN,...,2.58553,48.8269,45.9917,89.2949,7.52938,6.80372,-0.932065,80.1886,44.5847,2016.0
84901,814286,3763099.00,2,1330,TM0102,L,5.00,A,20,NaN,...,-1.0676,37.6476,37.982,103.841,7.28623,5.50002,-6.27526,57.3055,46.5,2010.0
84902,311677,7600000.00,1,1330,TM0102,L,4.10,A,19,NaN,...,1.97419,45.2802,43.388,106.812,7.63001,5.74932,-5.1372,83.9551,43.3,2014.0

In [69]:
del test_merged['GODINE']

In [70]:
X_train = df_merged[['KLIJENT_ID', 'UGOVORENI_IZNOS', 'VALUTA', 'VRSTA_KLIJENTA', 'PROIZVOD',
       'VRSTA_PROIZVODA', 'TIP_KAMATE', 'STAROST',
       'VISINA_KAMATE', 'PLANIRANA_DULJINA_KREDITA', 'GODINA_OTVARANJA',
       'ind1-poc', 'ind2-poc', 'ind3-poc', 'ind4-poc', 'ind5-poc', 'ind6-poc',
       'ind7-poc', 'ind8-poc', 'ind9-poc', 'ind10-poc', 'ind11-poc',
       'ind12-poc']]

X_test = test_merged[['KLIJENT_ID', 'UGOVORENI_IZNOS', 'VALUTA', 'VRSTA_KLIJENTA', 'PROIZVOD',
       'VRSTA_PROIZVODA', 'TIP_KAMATE', 'STAROST',
       'VISINA_KAMATE', 'PLANIRANA_DULJINA_KREDITA', 'GODINA_OTVARANJA',
       'ind1-poc', 'ind2-poc', 'ind3-poc', 'ind4-poc', 'ind5-poc', 'ind6-poc',
       'ind7-poc', 'ind8-poc', 'ind9-poc', 'ind10-poc', 'ind11-poc',
       'ind12-poc']]

In [71]:
y_train = df_merged['PRIJEVREMENI_RASKID']

In [72]:
y_test = test_merged['PRIJEVREMENI_RASKID']

In [73]:
X_train['train']=1
X_test['train']=0
combined = pd.concat([X_train,X_test])
dumm = pd.get_dummies(combined['VRSTA_PROIZVODA'])
combined = pd.concat([combined,dumm],axis = 1)
dumm = pd.get_dummies(combined['VALUTA'])
combined = pd.concat([combined,dumm],axis = 1)
dumm = pd.get_dummies(combined['TIP_KAMATE'])
combined = pd.concat([combined,dumm],axis = 1)
del combined['VALUTA'];del combined['VRSTA_PROIZVODA'];del combined['TIP_KAMATE'];

C:\Users\Jakob\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [74]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
combined['VRSTA_KLIJENTA_CODE'] = lb_make.fit_transform(combined['VRSTA_KLIJENTA'])

combined['PROIZVOD_CODE'] = lb_make.fit_transform(combined['PROIZVOD'])

combined['GODINA_OTVARANJA_CODE'] = lb_make.fit_transform(combined['GODINA_OTVARANJA'])

del combined['GODINA_OTVARANJA'];del combined['VRSTA_KLIJENTA'];del combined['PROIZVOD'];

In [75]:
combined.head()

,KLIJENT_ID,UGOVORENI_IZNOS,STAROST,VISINA_KAMATE,PLANIRANA_DULJINA_KREDITA,ind1-poc,ind2-poc,ind3-poc,ind4-poc,ind5-poc,...,3,4,5,A,B,C,D,VRSTA_KLIJENTA_CODE,PROIZVOD_CODE,GODINA_OTVARANJA_CODE
0,1002,1035165.83,20,9.00,3654,10194,5.28365,2.9,-7.13952,39.0262,...,0,0,0,0,0,1,0,1,22,12
1,1002,20154791.73,20,0.00,141,10480,-0.34019,2.3,-0.698502,40.415,...,1,0,0,0,1,0,0,1,12,16
2,1002,2195859.05,20,2.10,28,10480,-0.34019,2.3,-0.698502,40.415,...,0,0,0,1,0,0,0,1,30,16
3,1002,2210255.99,20,2.55,46,10480,-0.34019,2.3,-0.698502,40.415,...,0,0,0,1,0,0,0,1,30,16
4,1002,2237031.88,20,2.35,30,10480,-0.34019,2.3,-0.698502,40.415,...,0,0,0,1,0,0,0,1,30,16

In [76]:
combined['ind1-poc'] = combined['ind1-poc'].astype(float)
combined['ind2-poc'] = combined['ind2-poc'].astype(float)
combined['ind3-poc'] = combined['ind3-poc'].astype(float)
combined.loc[combined['ind4-poc'] == '-','ind4-poc'] = np.nan
combined.loc[combined['ind5-poc'] == '-','ind5-poc'] = np.nan
combined.loc[combined['ind6-poc'] == '-','ind6-poc'] = np.nan
combined.loc[combined['ind10-poc'] == '-','ind10-poc'] = np.nan
combined.loc[combined['ind11-poc'] == '-','ind11-poc'] = np.nan
combined.loc[combined['ind12-poc'] == '-','ind12-poc'] = np.nan
combined['ind4-poc'] = combined['ind4-poc'].astype(float)
combined['ind5-poc'] = combined['ind5-poc'].astype(float)
combined['ind6-poc'] = combined['ind6-poc'].astype(float)
#combined['ind10-poc'] = combined['ind10-poc'].astype(float)
combined['ind11-poc'] = combined['ind11-poc'].astype(float)
combined['ind12-poc'] = combined['ind12-poc'].astype(float)
combined.loc[combined['ind10-poc'] == '....','ind10-poc'] = np.nan
combined['ind10-poc'] = combined['ind10-poc'].astype(float)
combined['ind7-poc'] = combined['ind7-poc'].astype(float)
combined['ind8-poc'] = combined['ind8-poc'].astype(float)
combined['ind9-poc'] = combined['ind9-poc'].astype(float)

In [77]:
y_train = lb_make.fit_transform(y_train)
X_train = combined[combined['train']==1]
X_test = combined[combined['train']==0]
X_train.drop(['train'],axis=1,inplace=True)
X_test.drop(['train'],axis=1,inplace=True)

C:\Users\Jakob\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [78]:
from sklearn.preprocessing import Imputer
# Create an imputer object that looks for 'Nan' values, then replaces them with the mean value of the feature by columns (axis=0)
mean_imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)

# Train the imputor on the df dataset
imputed_df = pd.DataFrame(mean_imputer.fit_transform(X_train))
imputed_df.columns = X_train.columns
imputed_df.index = X_train.index

X_train = imputed_df
# Train the imputor on the df dataset
imputed_df1 = pd.DataFrame(mean_imputer.fit_transform(X_test))
imputed_df1.columns = X_test.columns
imputed_df1.index = X_test.index

X_test=imputed_df1

C:\Users\Jakob\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [80]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=12)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

y_test = y_pred

student = pd.read_excel('eval_dataset_nan.xlsx')
y_test = np.where(y_test==0,'N', 'Y')

student['PRIJEVREMENI_RASKID'] = y_test

student.to_csv('student.csv')

<h3> S normalizacijom </h3>

In [81]:
from sklearn import preprocessing

x = X_train.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
new_X_train = pd.DataFrame(x_scaled)

In [82]:
new_X_train.columns = X_train.columns
new_X_train.index = X_train.index

In [83]:
X_train = new_X_train

In [84]:
x = X_test.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
new_X_test = pd.DataFrame(x_scaled)

In [85]:
new_X_test.columns = X_test.columns
new_X_test.index = X_test.index

In [86]:
X_test = new_X_test

In [87]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=70)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [88]:
y_test = y_pred
y_test = np.where(y_test==0,'N', 'Y')
student['PRIJEVREMENI_RASKID'] = y_test
student.to_csv('student.csv')

In [ ]:
#df.to_hdf('sezdeset_posto.h5', key='df')

<h3> Hyperparameter tuning </h3>

https://towardsdatascience.com/hyperparameter-tuning-the-random-forest-in-python-using-scikit-learn-28d2aa77dd74

In [89]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state = 42)
from pprint import pprint
# Look at parameters used by our current forest
print('Parameters currently in use:\n')
pprint(rf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 'warn',
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [94]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 500, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 50, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 233, 266, 300, 333, 366, 400, 433, 466, 500]}

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
##rf_random.fit(train_features, train_labels)
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed: 238.3min

In [ ]:
# We can view the best parameters from fitting the random search:
rf_random.best_params_

In [ ]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy


base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)
base_model.fit(train_features, train_labels)
base_accuracy = evaluate(base_model, test_features, test_labels)
#Model Performance
#Average Error: 3.9199 degrees.
#Accuracy = 93.36%.

In [ ]:
test_features = X_train
test_labels = y_train

In [ ]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, test_features, test_labels)
#Model Performance
#Average Error: 3.7152 degrees.
#Accuracy = 93.73%.

In [ ]:
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))
#Improvement of 0.40%.

In [ ]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [ ]:
# Fit the grid search to the data
grid_search.fit(train_features, train_labels)
grid_search.best_params_
{'bootstrap': True,
 'max_depth': 80,
 'max_features': 3,
 'min_samples_leaf': 5,
 'min_samples_split': 12,
 'n_estimators': 100}
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, test_features, test_labels)
#Model Performance
#Average Error: 3.6561 degrees.
#Accuracy = 93.83%.
print('Improvement of {:0.2f}%.'.format( 100 * (grid_accuracy - base_accuracy) / base_accuracy))
#Improvement of 0.50%.

<h2> XGBoost </h2>

In [ ]:
https://www.datacamp.com/community/tutorials/xgboost-in-python
    # missing values: 
    https://github.com/dmlc/xgboost/issues/21

In [ ]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error ## neku drugu uzet
import pandas as pd
import numpy as np

In [ ]:
X=X_train
y=y_train

In [ ]:
data_dmatrix = xgb.DMatrix(data=X,label=y)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [ ]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

## ili neka druga metrika kao gore

<h4> k-fold Cross Validation using XGBoost </h4>

In [ ]:
params = {"objective":"reg:linear",'colsample_bytree': 0.3,'learning_rate': 0.1,
                'max_depth': 5, 'alpha': 10}

cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
                    num_boost_round=50,early_stopping_rounds=10,metrics="rmse", as_pandas=True, seed=123)

In [ ]:
cv_results.head()

In [ ]:
print((cv_results["test-rmse-mean"]).tail(1))

<h4> Vizualizacija znacajki</h4>

In [ ]:
xg_reg = xgb.train(params=params, dtrain=data_dmatrix, num_boost_round=10)
import matplotlib.pyplot as plt

xgb.plot_tree(xg_reg,num_trees=0)
plt.rcParams['figure.figsize'] = [50, 10]
plt.show()

In [ ]:
xgb.plot_importance(xg_reg)
plt.rcParams['figure.figsize'] = [5, 5]
plt.show()

https://machinelearningmastery.com/develop-first-xgboost-model-python-scikit-learn/
https://towardsdatascience.com/fine-tuning-xgboost-in-python-like-a-boss-b4543ed8b1e
https://www.analyticsvidhya.com/blog/2016/03/complete-guide-parameter-tuning-xgboost-with-codes-python/