In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
# nakon što stavimo datoteke na Git uvijek čitati u ovomo obliku! (štedi vrijeme)
import time
start = time.time()
df = pd.read_hdf('./data/raw/training_dataset.h5', 'df')
end = time.time()
print(end - start)

# nakon što napravimo promjene kako treba, exportat ću ih u novu datoteku pomoću naredbe
# df.to_hdf('training_dataset2.h5', key='df')

5.5400168895721436

In [3]:
print(df.columns)

Index(['DATUM_IZVJESTAVANJA', 'KLIJENT_ID', 'OZNAKA_PARTIJE',
       'DATUM_OTVARANJA', 'PLANIRANI_DATUM_ZATVARANJA', 'DATUM_ZATVARANJA',
       'UGOVORENI_IZNOS', 'STANJE_NA_KRAJU_PRETH_KVARTALA',
       'STANJE_NA_KRAJU_KVARTALA', 'VALUTA', 'VRSTA_KLIJENTA', 'PROIZVOD',
       'VRSTA_PROIZVODA', 'VISINA_KAMATE', 'TIP_KAMATE', 'STAROST',
       'PRIJEVREMENI_RASKID'],
      dtype='object')

In [4]:
df['UPLATE'] = df['STANJE_NA_KRAJU_PRETH_KVARTALA']-df['STANJE_NA_KRAJU_KVARTALA']

In [18]:
df2 = df[['STANJE_NA_KRAJU_PRETH_KVARTALA', 'STANJE_NA_KRAJU_KVARTALA', 'UPLATE', 'VRSTA_PROIZVODA']]
df2.head()

## L je stednja, A kredit

,STANJE_NA_KRAJU_PRETH_KVARTALA,STANJE_NA_KRAJU_KVARTALA,UPLATE,VRSTA_PROIZVODA
0,639373.81,641562.01,-2188.20,L
1,28481.94,26887.19,1594.75,A
2,44908.40,45062.09,-153.69,L
3,19691.64,18285.89,1405.75,A
4,24797.93,15685.33,9112.60,A

In [19]:
start = time.time()
df.sort_values(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA', 'DATUM_IZVJESTAVANJA'], ascending=[True, True, True, True], inplace = True)
end = time.time()
print(end - start)

6.471698999404907

In [37]:
df2 = df.copy()[['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA', 'UPLATE', 'DATUM_IZVJESTAVANJA', 'VRSTA_PROIZVODA']]
df2.sort_values(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA', 'DATUM_IZVJESTAVANJA'], ascending=[True, True, True, True], inplace = True)
groups = df2.groupby(['KLIJENT_ID', 'OZNAKA_PARTIJE', 'DATUM_OTVARANJA'])

In [38]:
import itertools
prva_grupa = itertools.islice(groups,0,1)

print(list(prva_grupa))

[((1002, 168061, Timestamp('2007-04-04 00:00:00')),          KLIJENT_ID  OZNAKA_PARTIJE DATUM_OTVARANJA    UPLATE  \
5155888        1002          168061      2007-04-04  21059.23
4470142        1002          168061      2007-04-04  26232.24
3522338        1002          168061      2007-04-04  34703.33
2342921        1002          168061      2007-04-04  25932.32
1723155        1002          168061      2007-04-04  26087.93
4673022        1002          168061      2007-04-04  17568.83
2504157        1002          168061      2007-04-04  26070.05
2731048        1002          168061      2007-04-04  26714.67
5097120        1002          168061      2007-04-04  26025.70
3681824        1002          168061      2007-04-04  26109.10
1826218        1002          168061      2007-04-04  26028.03
1792159        1002          168061      2007-04-04  25963.51
3987089        1002          168061      2007-04-04  26036.31
3756041        1002          168061      2007-04-04  26084.28
1619468        1002          168061      2007-04-04  26029.69
2482720        1002          168061      2007-04-04  25980.06
5164251        1002          168061      2007-04-04  26034.65
4282986        1002          168061      2007-04-04  26069.39
3459210        1002          168061      2007-04-04  26026.38
3995185        1002          168061      2007-04-04  26003.22
2803994        1002          168061      2007-04-04  26028.23
3265996        1002          168061      2007-04-04  26050.73
1604098        1002          168061      2007-04-04  34663.90
3144925        1002          168061      2007-04-04  17386.39
3090595        1002          168061      2007-04-04  25998.75
5114609        1002          168061      2007-04-04   8718.19
3219491        1002          168061      2007-04-04      0.00
5072337        1002          168061      2007-04-04      0.00

        DATUM_IZVJESTAVANJA VRSTA_PROIZVODA
5155888          2011-03-31               A
4470142          2011-06-30               A
3522338          2011-09-30               A
2342921          2011-12-31               A
1723155          2012-03-31               A
4673022          2012-06-30               A
2504157          2012-09-30               A
2731048          2012-12-31               A
5097120          2013-03-31               A
3681824          2013-06-30               A
1826218          2013-09-30               A
1792159          2013-12-31               A
3987089          2014-03-31               A
3756041          2014-06-30               A
1619468          2014-09-30               A
2482720          2014-12-31               A
5164251          2015-03-31               A
4282986          2015-06-30               A
3459210          2015-09-30               A
3995185          2015-12-31               A
2803994          2016-03-31               A
3265996          2016-06-30               A
1604098          2016-09-30               A
3144925          2016-12-31               A
3090595          2017-03-31               A
5114609          2017-06-30               A
3219491          2017-09-30               A
5072337          2017-12-31               A  )]

In [ ]:
def rata_kredita(group):
    
    ## što više razmišljam o ovome, to ima manje smisla baratat s podacima iz kvartala